<div *ngIf="loading" class="text-primary-100 text-center p-10">Cargando vino...</div>

<div *ngIf="!loading && vino" class="vino-detail-page min-h-screen bg-gradient-to-b from-primary-900 to-black text-white">

  <!-- Imagen + Añada -->
  <div class="pt-16 pb-8 text-center animate-fade-in">
    <div class="relative inline-block animate-float">
      <div class="w-64 h-[420px] md:w-72 md:h-[480px] mx-auto rounded-2xl overflow-hidden ">
        <img *ngIf="vino.imagen?.length > 0"
             [src]="strapiUrl + vino.imagen[0].url"
             [alt]="vino.nombre"
             class="w-full h-full object-cover">
      </div>
      <div class="absolute -top-2 -right-6 bg-wine-900 text-gold-300 px-3 py-1 rounded-full text-sm font-bold shadow-md border border-wine-700">
        {{ vino.anada }}
      </div>
    </div>
  </div>

  <!-- Caja con detalles -->
  <div class="relative z-10 container mx-auto px-4 pb-12 max-w-md">

    <div class="bg-black/50 backdrop-blur-md rounded-3xl p-6 animate-slide-up shadow-2xl border border-white/10">

      <!-- Título -->
      <div class="text-center mb-6">
        <h1 class="text-3xl font-serif font-bold text-gold-300 mb-1">{{ vino.nombre }}</h1>
        <p class="text-primary-100 text-sm tracking-wide uppercase">{{ vino.bodega }}</p>
      </div>

      <!-- Descripción -->
      <div *ngIf="vino.descripcion" class="bg-primary-900/40 rounded-2xl p-4 mb-4">
        <h3 class="text-primary-500 text-lg font-serif font-semibold mb-2">Notas de Cata</h3>
        <div class="prose prose-invert text-gray-200 text-sm leading-relaxed">
          <p *ngFor="let block of vino.descripcion">
            <span *ngFor="let child of block.children">{{ child.text }}</span>
          </p>
        </div>
      </div>

      <!-- Grid con detalles -->
      <div class="grid grid-cols-2 gap-4">
        <div class="bg-primary-900/40 rounded-2xl p-4 text-center">
          <h3 class="text-primary-500 text-sm font-medium uppercase">Cepa</h3>
          <p class="text-white font-semibold text-lg">{{ vino.cepa }}</p>
        </div>
        <div class="bg-primary-900/40 rounded-2xl p-4 text-center">
          <h3 class="text-primary-500 text-sm font-medium uppercase">Añada</h3>
          <p class="text-white font-semibold text-lg">{{ vino.anada }}</p>
        </div>
        <div class="col-span-2 flex justify-center items-center bg-primary-900/40 rounded-2xl p-4">
          <h3 class="text-primary-500 text-sm font-medium uppercase mr-2">Precio</h3>
          <span class="px-5 py-1 rounded-full bg-gradient-to-r from-gold-300 to-[#d19836] text-[#343434] font-bold text-lg shadow">
            ${{ vino.precio }}
          </span>
        </div>
      </div>

    </div>
  </div>
</div>
